<h2>Rates test</h2>
  <p>Get symbols: <%= @client.getSymbols %></p>
  <p>Get quotes: <%= @client.getQuotes(["EURUSD", "GBPJPY"]) %></p>
  <p>Conver result:<%= @client.convert('EUR', 'USD', 100) %></p>
